<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>c6647946522623fdcdc200317ba8d692</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QuickTutor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.9</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>quicktutor.app.link</string>
				<string>quicktutor-alternate.app.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.805182221905-pu1qc5q4fgqdon1dc7onh7mpf8u4pbd4</string>
				<string>com.googleusercontent.apps.306650114424-6a1pbl8253mvagr46vc7rtrb9sf4tie2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb303427473587992</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak303427473587992</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>FacebookAppID</key>
	<string>303427473587992</string>
	<key>FacebookDisplayName</key>
	<string>QuickTutor</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string> Allow access to Calendar to save upcomming session details</string>
	<key>NSCameraUsageDescription</key>
	<string>To share and save photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>To invite friends to join the platform</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>For displaying users accurately according to their in-app location setting.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>For app-wide audio usage.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To save photos in messages.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To share and save photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato/Lato-LightItalic.ttf</string>
		<string>Lato/Lato-Light.ttf</string>
		<string>Lato/Lato-HairlineItalic.ttf</string>
		<string>Lato/Lato-Hairline.ttf</string>
		<string>Lato/Lato-BlackItalic.ttf</string>
		<string>Lato/Lato-Black.ttf</string>
		<string>Lato/Lato-Bold.ttf</string>
		<string>Lato/Lato-Italic.ttf</string>
		<string>Lato/Lato-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>quicktutor.app.link</string>
	<key>branch_key</key>
	<string>key_live_kmGCooWXBX1qKSwBOKNqYhjiFBbYRuT9</string>
</dict>
</plist>
